{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="{% static 'index/index.css' %}" media="all"/>
</head>

<body>
<section id="main_section">
    <div>
        <figure>
            <img src="{% static 'index/main_theme.png' %}"/>
        </figure>

        <section>
            <header>
                <p>{% trans 'Miroed' %}</p>
            </header>

            <article>
                <p>{% blocktrans %}Start with a small businessman, who works only illegal migrant workers, and grow to the ruler of the world, juggling galaxies - easily! Call for yourself a universal success, and be proud, when envious persons call you a miroed.{% endblocktrans %}</p>
            </article>
        </section>
    </div>
</section>

<footer>
</footer>
</body>
</html>