{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Miroed Main page' %}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'index/index.css' %}" media="all"/>
</head>

<body>
<section id="main_section">
    <div>
        <div id="locals">
            <div></div>
            <div>
                <ul>
                    <li><a href="/"><img src="{% static 'index/lang-ru-ru.png' %}" /><span>Рус</span></a></li>
                    <li><a href="/en/"><img src="{% static 'index/lang-en-us.png' %}" /><span>Eng</span></a></li>
                </ul>
            </div>
        </div>

        <div>
            <figure>
                <img src="{% static 'index/main_theme.png' %}"/>
            </figure>

            <section>
                <header>
                    <p>{% trans 'Miroed' %}</p>
                </header>

                <article>
                    <p>{% blocktrans %}Start with a small businessman, who works only illegal migrant workers, and grow to the ruler of the world, juggling galaxies - easily! Call for yourself a universal success, and be proud, when envious persons call you a miroed.{% endblocktrans %}</p>
                    {% if LANGUAGE_CODE == 'en' %}
                    <p id="explanation"><b>*Miroed</b> (rus) - exploiter, bloodsucker, harpy.<br/>Literally: devourer of the world.</p>
                    {% endif %}
                </article>
            </section>
        </div>
    </div>
</section>

<footer>
    <div>
        {% with 'index/google-play-badge-'|add:LANGUAGE_CODE|add:'.png' as BADGE_URL %}
        <a href="http://play.google.com/store/apps/details?id=air.qtap"><img src="{% static BADGE_URL %}" /></a>
        {% endwith %}
    </div>
</footer>
</body>
</html>