@font-face {
    font-family: "Geisha";
    src: url(1907.ttf) format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #212121;
    display: table;
    width: 100%;
}

footer {
    background-color: #9e9e9e;
    min-height: 20px;
}

p {
    color: #e7e7e7;
}

header p {
    color: #ff6d00;
    font-family: "Geisha", Arial, sans-serif;
    font-size: 56px;
}

article p {
    max-width: 450px;
    font-size: 16pt;
    font-family: arial;
}

section {
    padding-left: 30px;
}

#main_section {
    display: table-row;
    height: 100%;
}

#main_section > div {
    display: table;
    margin: auto;
}

#main_section figure {
    display: table-cell;
    vertical-align: middle;
}

#main_section figure {
    height: 100%;
}

#main_section section {
    display: table-cell;
}