@font-face {
    font-family: "Geisha";
    src: url(1907.ttf) format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212121;
    display: table;
    width: 100%;
}

footer {
    display: table-row;
}

footer > div {
    display: table-cell;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 15px;
}

p {
    color: #e7e7e7;
}

header p {
    color: #ff6d00;
    font-family: "Geisha", Arial, sans-serif;
    font-size: 56px;
    margin-top: 25px;
    margin-bottom: 35px;
}

article p {
    max-width: 450px;
    font-size: 16pt;
    font-family: Arial;
}

#main_section {
    display: table-row;
}

#main_section > div {
    display: table;
    margin: auto;
}

#main_section > div div {
    display: table-row;
}

#main_section > div section {
    padding-left: 30px;
}

#main_section figure {
    display: table-cell;
    vertical-align: middle;
}

#main_section figure {
    height: 100%;
}

#main_section section {
    display: table-cell;
}

#main_section > div div#locals div {
    display: table-cell;
    text-align: right;
    padding-top: 35px;
    padding-right: 30px;
}

#main_section > div div#locals ul {
}

#main_section > div div#locals li {
    display: inline;
    margin-left: 15px;
}

#main_section > div div#locals a {
    color: #e7e7e7;
    font-family: Arial;
}

#main_section > div div#locals span {
    padding-left: 7px;
}

#main_section > div div#locals img {
    vertical-align: middle;
}